.footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: left;
    background-color: #eb8816;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:25px;
    height: 2cm;
    
  }